<div class="border-2 lg:w-1/3 xl:w-[55%] md:w-[65%] w-[80%] border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:shadow-2xl flex flex-col md:gap-4 mt-[7.5rem] mb-[4rem] card ">
  <div class="rounde-full ">
    <img class="xl:h-[15rem]  lg:h-[22rem] lg:w-[15.5rem] md:h-[18rem] h-[14rem]  object-cover object-center" [src]="cardImgUrl" alt="nft-img">
  </div>
  <div class="p-6 flex flex-col gap-4">
    <h1 class="font-monsterrat text-2xl font-bold text-gray-900 mb-3 text-center">{{ cardTitle }}</h1>
    <p class="leading-relaxed text-[0.825rem] mb-3 text-center">
      {{ cardContent }}
    </p>
  </div>
</div>
