<div class="border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden hover:shadow-2xl w-[19rem] h-[23rem] xl:w-[23rem] xl:h-[29rem] md:w-[21rem] md:h-[25rem] lg:w-[19rem]  md:gap-4 md:pt-[3.25rem] pt-[2.25rem] flex flex-col items-center gap-8 xl:pt-[4.75rem] lg:pt-[3.275rem] px-6 card">
  <img class="w-[10.5rem] rounded-full border-slate-200 border-[1px]" [src]="cardImgUrl" alt="nft-img">
  <div class="flex flex-col ">
    <h1 class="font-monsterrat lg:text-[1.125rem] xl:text-[1.125rem]  text-[0.875rem]  font-bold text-gray-900 mb-3 text-center">{{ cardTitle }}</h1>
    <p class="leading-relaxed xl:text-[0.925rem] lg:text-[0.925rem] text-center text-[0.875rem]">
      {{ cardContent }}
    </p>
  </div>
</div>
